.header {
  width: 100%;
  height: 64px;
  background: var(--color-light);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
  position: sticky;
  z-index: 1000;
  top: 0;

  &__container {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: var(--container-width);
  }

  &__wrap-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: var(--conteiner-indent);
    margin-right: var(--conteiner-indent);
  }

  &__logo {
    cursor: pointer;
  }

  &__navigation {
    height: 100%;
  }

  &__navigation-list {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
  }

  &__navigation-list-item {
    height: 100%;
  }

  &__navigation-list-link {
    display: flex;
    align-items: center;
    color: var(--color-dark-gray);
    font-size: var(--font-size-s);
    font-weight: 500;
    cursor: pointer;
    height: 100%;
  }

  &__navigation-list-link:hover {
    color: var(--color-dark);
  }
}

.logo {
  font-weight: 900;
  font-size: 28px;
  color: var(--color-dark);
}

.link {
  text-decoration: none;
}

