.instructor-card {
  display: flex;
  gap: 18px;
  padding: var(--card-indent);
  box-shadow: var(--card-box-shadow);
  max-width: 542px;
  height: 281px;

  &__img {
    object-fit: cover;
  }

  .instructor-card__info-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    font-size: var(--font-size-l-2);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-l-2);
  }

  &__specialization {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
    color: var(--color-dark-gray);
  }

  &__description {
    overflow: hidden;
  }
}
