.news-card {
  padding: var(--card-indent);
  box-shadow: var(--card-box-shadow);
  max-width: 356px;
  height: 366px;

  &__img {
    margin-bottom: 6px;
  }

  &__title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-m);
    margin-bottom: 8px;
  }

  &__text {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-xs);
    color: var(--color-dark-gray);
    max-height: 72px;
    overflow: hidden;
  }
}
