<header class="header">
  <div class="header__container">
    <div class="header__wrap-container">
      @if (dataService.data.navigation.companyName) {
        <a
          routerLink="/"
          class="header__logo logo link"
        >
          {{dataService.data.navigation.companyName}}
        </a>
      } @else {
        <a
          routerLink="/"
          class="header__logo logo link"
        >
          Логотип
        </a>
      }
      <nav class="header__navigation">
        <ul class="header__navigation-list">
          @if(dataService.displayAboutSection) {
            <li class="header__navigation-list-item">
              <a
                routerLink="/"
                class="header__navigation-list-link link"
              >{{dataService.data.navigation.description}}</a>
            </li>
          }
          @if (dataService.displayNewsSection) {
            <li class="header__navigation-list-item">
              <a
                routerLink="/"
                class="header__navigation-list-link link"
              >{{dataService.data.navigation.news}}</a>
            </li>
          }
          @if (dataService.displayMapSection) {
            <li class="header__navigation-list-item">
              <a
                routerLink="/"
                class="header__navigation-list-link link"
              >{{dataService.data.navigation.addresses}}</a>
            </li>
          }
          @if (dataService.displayInstructorsSection) {
            <li class="header__navigation-list-item">
              <a
                routerLink="/"
                class="header__navigation-list-link link"
              >{{dataService.data.navigation.instructors}}</a>
            </li>
          }
          @if (dataService.displayServicesSection) {
            <li class="header__navigation-list-item">
              <a
                routerLink="/"
                class="header__navigation-list-link link"
              >{{dataService.data.navigation.services}}</a>
            </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
