<div
  class="news-carousel"
>
  <button
    *ngIf="showButtons"
    appearance="custom"
    icon="tuiIconChevronLeftLarge"
    title="Previous"
    tuiIconButton
    type="button"
    class="news-carousel__button news-carousel__button--previous"
    (click)="carousel.prev()"
  ></button>
  <tui-carousel
    #carousel
    [itemsCount]="itemsCount"
  >
    @for (news of newsList; track news.title; let newsIndex = $index) {
      <app-news-card *tuiItem [news]="news" [newsIndex]="newsIndex"/>
    }
  </tui-carousel>
  <button
    *ngIf="showButtons"
    appearance="custom"
    icon="tuiIconChevronRightLarge"
    title="Next"
    tuiIconButton
    type="button"
    class="news-carousel__button news-carousel__button--next"
    (click)="carousel.next()"
  ></button>
</div>

