.hero-image {
  width: 100%;
}

.content-section {
  padding-top: var(--section-indent);
  padding-bottom: var(--section-indent);

  &__container {
    margin: auto;
    padding-left: var(--conteiner-indent);
    padding-right: var(--conteiner-indent);
    max-width: var(--container-width);
  }

  &__title {
    margin-bottom: var(--title-indent);
  }
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xl);

  &--bold {
    font-weight: var(--font-weight-bold);
  }
}

.about-subtitle {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-l);
  letter-spacing: var(--letter-spacing-about-subtitle);
  max-width: var(--about-subtitle-max-width);
}

.posters-list {
  display: flex;
  gap: var(--distance-between-cards-m);
}

.coaches-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--distance-between-cards-l);
}

.services--list {
  display: flex;
  flex-direction: column;
  gap: var(--distance-between-cards-l);
}
