<app-layout>
  <section>
    <img
      src="assets/images/hero.jpg"
      class="hero-image"
    >
  </section>
  <section class="content-section">
    <div class="content-section__container">
      <h2 class="title title--bold content-section__title">О нас</h2>
      <h3 class="about-subtitle content-section__about-subtitle">Начните бегать легко и с удовольствием! Новичкам поставим технику бега и поможем комфортно пробежать первые пять километров, а любителей подготовим к самым ярким забегам по всему миру</h3>
    </div>
  </section>
  <section class="content-section">
    <div class="content-section__container">
      <h2 class="title content-section__title">Афиши</h2>
      <ul class="posters-list">
        @for (poster of postersList; track poster.title) {
          <li>
            <app-poster-card [poster]="poster"/>
          </li>
        }
      </ul>
    </div>
  </section>

</app-layout>
