:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-dark-gray: #656775;
  --color-light-gray: #F1F1F1;

  --font-family: 'Manrope', 'sans-serif';

  --button-height: 56px;

  --container-width: 1104px;
  --container-padding-x: 20px;

  --transition-duratio: 0.2s;
}
