@import 'assets/resetBaseStyles';
@import "assets/variablesTaiga";
@import 'assets/variables';


body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
}
